@import 'dialog';
@import 'header';
@import 'index';
@import 'paper';
@import 'snippet';
@import 'statusbar';
@import 'toolbar';


body {
  background-color: #fff;
}

section#app {
  width: 1280px;
  height: 800px;
  border-style: solid;
}
