.dialog .titlebar {
    background-color: #feb663;
}

.dialog textarea {
    border: 1px solid #c6c7e2;
    margin: 20px auto;
    display: block;
    width: 90%;
    min-height: 200px;
    padding: 10px;
}