.tooltip {
    background: linear-gradient(to bottom, #c5c7e2 0%, #6a6c8b 7%, #3c4260 100%);
    background-color: transparent;
    color: #ffffff;
    font-size: 12px;
    border-width: 1px;
    max-width: 150px;

    -webkit-transition: left 100ms linear, top 100ms linear;
    -moz-transition: left 100ms linear, top 100ms linear;
    -ms-transition: left 100ms linear, top 100ms linear;
    transition: left 100ms linear, top 100ms linear;
}